
@media screen and (min-width:576px) and (max-width:990px) {
    
    .navbar{
        padding: 20px 10px;
    }
.banner{
    flex-direction: column;
}
.roadmap{
    grid-template-columns: repeat( 2, 1fr);
}
.jogging{
    padding: 50px 30px;
}
.main-jogging-div{
    width: 90%;
    padding: 40px;
}
.text-about-jogging{
    width: 400px;
}
.jogging-title{
    font-size: 30px;
}
.img-about-jogging{
    width: 300px;
}
.exercises{
    height: 500px;
    padding: 50px 30px;
}
.exercise-div-2{
    height: 300px;
}
.coloring-img{
    height: 300px;
}
.team-members{
    padding: 50px 30px;
}
.title-of-team{
    font-size: 30px;
}
.trainers{
    height: 250px;
    width: 250px;
}
.trainer-img{
    height: 250px;
    width: 250px;
}


.bmi-calculator{
    width: 500px;
    padding: 0px 30px;
    text-align: left;
}
.calculation-part{
    flex-direction: column;
    padding: 50px 30px;
}
.bmi-title{
    font-size: 30px;
    margin-bottom: 15px;
}





.footer{
    padding: 50px 30px;
    gap: 50px;
    grid-template-columns: repeat( 1,1fr);
}
.for-hr{
    padding: 0px 30px;
}


}



@media screen and (max-width:576px) {
    
.hambarger-icon{
    display: block;
   }
.navbar .nav-site{
    display: none;
}
.navbar{
    padding: 5px 10px;
    /* gap: 95%; */
}
.banner{
    flex-direction: column;
    padding-left: 50px;
}
.banner-text{
    width: 300px;
}
.banner-title{
    font-size: 40px;
}
.primary-btn{
    padding: 10px;
    font-weight: 400;
}
.normal-btn{
    padding: 10px ;
    font-weight: 400;
}
.playlist-1{
    margin-top: -350px;
    margin-left: 70px;
}
.playlist-2{
    margin-left: 250px;
    margin-top: -500px;
}
.roadmap{
    grid-template-columns: repeat( 1, 1fr);
}
.fitness-habits{
    padding: 0px 50px;
}
.changing-habit-title{
    font-size: 30px;
}
.jogging{
    padding: 50px 20px;
}
.main-jogging-div{
    flex-direction: column;
    padding: 30px;
}
.text-about-jogging{
    width: 290px;
}
.img-about-jogging{
    width: 290px;
    margin-top: 25px;
}


.exercises{
    height: 600px;
    padding: 50px 20px;
}
.exercise-div-1{
    width: 290px;
}
.exercise-div-2{
    height: 400px;
    width: 90%;
    margin-top: 25px;
}
.coloring-img{
    height: 400px;
    width: 90%;
    margin-top: 25px;
 }
.exercise-1{
    grid-column: 1/span 6;
    grid-row: 1/span 4;
 }
 .exercise-2{
    grid-column: 7/span 6;
    grid-row: 1/span 4;
 }
 .exercise-3{
    grid-column: 1/span 5;
    grid-row: 5/span 4;
 }
    
 .exercise-4{
    grid-column: 6/span 6;
    grid-row: 5/span 4;
 }
 .exercise-5{
    grid-column: 1/span 6;
    grid-row: 9/span 4;
 }
 .exercise-6{
    grid-column: 7/span 6;
    grid-row: 9/span 4;
 }
 .img-1-color{
    grid-column: 1/span 6;
    grid-row: 1/span 4;
  }
  .img-2-color{
    grid-column: 7/span 6;
    grid-row: 1/span 4;
  }
  .img-3-color{
    grid-column: 1/span 5;
    grid-row: 5/span 4;
  }
  .img-4-color{
    grid-column: 6/span 6;
    grid-row: 5/span 4;
  }
  .img-5-color{
    grid-column: 1/span 6;
    grid-row: 9/span 4;
  }
  .img-6-color{
    grid-column: 7/span 6;
    grid-row: 9/span 4;
  }
  .hide-for-mubile{
    display: none;
 }
  .hiden-text{
    display: block;
 }
 .team-members{
    padding: 50px 20px;
}
.introducing-part{
    grid-template-columns: repeat(1,1fr);
}
.trainers{
    width: 315px;
    margin-bottom: 30px;
}
.trainer-img{
    width: 315px;
}


.bmi-calculator{
    padding: 0px 20px;
    text-align: left;
}
.calculation-part{
    flex-direction: column;
    padding: 50px 20px;
}


.footer{
    padding: 50px 20px;
    grid-template-columns: repeat( 1,1fr);
    gap: 50px;
}
.about-us-container{
   flex-direction: column;
    gap: 50px;
}
.for-hr{
    padding: 0px 20px;
}



}